<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/admin/userlist.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

    <section id="menu">
        <div class="logo">
            <img src="/images/logo.png" alt="">
            <h2>Maxcart</h2>
        </div>
        <div class="items">
            <li><i class="fa-solid fa-chart-pie"></i> <a href="/admin/dashboard">Dashboard</a></li>
            <li><i class="fa-solid fa-table-cells-large"></i> <a href="/admin/product">Products</a></li>
            <li> <i class="fa-solid fa-list" style="color: #adb1b8;"></i> <a href="/admin/categories">Categories</a>
            </li>
            <li><i class="fa-solid fa-credit-card"></i> <a href="/admin/orders">Orders</a></li>
            <li><i class="fa-solid fa-user" style="color: #919191;"></i><a href="/admin/adminuserlist">Users</a></li>
            <li><i class="fa-solid fa-image"></i><a href="/admin/banner">Banner</a></li>
            <li><i class="fa-solid fa-ticket" style="color: #919191;"></i><a href="/admin/coupon">Coupen</a></li>


            <!-- <li><i class="fa-solid fa-chart-line"></i> <a href="#">Blank</a></li> -->
            <div class="logout">
                <li><i class="fa-solid fa-right-from-bracket" style="color: #d40c48;"></i> <a
                        href="/admin/logout">Logout</a></li>
            </div>
        </div>

    </section>



    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div>

                    <i id="menu-btn" class="fa-solid fa-bars"></i>
                </div>
                <!-- <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search">
                </div> -->
            </div>


            <div class="Addproducts">

            </div>


        </div>

        <h3 class="i-name">User List</h3>



        <div class="board">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Phone</td>
                        <td>verified</td>
                        <td>status</td>
                    </tr>
                </thead>
                <tbody>
                    <% user.forEach((data)=>{ %>

                        <tr class="row<%=data._id%>">

                            <td class="people-des">
                                <h5>
                                    <%=data.username %>
                                </h5>
                            </td>
                            <td class="people-des">
                                <h5>
                                    <%=data.email%>
                                </h5>
                            </td>
                            <td class="people-des">

                                <h5>$<%=data.phone %>
                                </h5>
                            </td>
                            <td class="people-des">
                                <h5 class="lodo<%=data._id %>">
                                    <%=data.otpVerified %>
                                </h5>
                            </td>

                            <td class="edit">


                                <% if(data.otpVerified) { %>
                                    <button
                                        style="padding: .6rem;  border-radius: 5px; border: none; width: 100px; color: rgb(234, 218, 218); background-color: red;"
                                        class="blockBtn blockbtn<%=data._id %>"
                                        onclick="blockUser(event,'<%=data._id %>')">
                                        BLOCK
                                    </button>
                                    <% }else { %>
                                        <button
                                            style="padding: .6rem; ; border-radius: 5px; border: none; width: 100px; color: rgb(199, 215, 199); background-color: green;"
                                            class="blockBtn blockbtn<%=data._id %>"
                                            onclick="blockUser(event,'<%=data._id %>')">
                                            Active
                                        </button>
                                        <% } %>

                            </td>

                        </tr>
                        <% }) %>
                </tbody>
            </table>

        </div>
    </section>


    <script>
        async function blockUser(event, productId) {
            event.preventDefault();
            try {
                const blockBtn = document.querySelector('.blockbtn' + productId);
                const verify = document.querySelector('.lodo' + productId);


                const response = await axios.post(`/admin/blockuser?id=${productId}`, {}, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                const result = response.data

                if (result.state) {
                    blockBtn.innerText = 'BLOCK';
                    blockBtn.style.backgroundColor = 'red';
                    blockBtn.style.color = 'white';
                } else {
                    blockBtn.innerText = 'Active';
                    blockBtn.style.backgroundColor = 'green';
                    blockBtn.style.color = 'white';
                }

                verify.innerHTML = result.state
            } catch (error) {
                console.log('Error in block product', error);
            }
        }


        $('#menu-btn').click(function () {
            $('#menu').toggleClass('active')
        });
    </script>
</body>

</html>